<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vòng lặp for với Vuejs</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- Sử dụng v-model -->
    <div id="app">
            <input type="checkbox" name="vehicle1" value="Bike" v-model="message"> I have a bike<br>
            <input type="checkbox" name="vehicle2" value="Car" v-model="message"> I have a car<br>
            <input type="checkbox" name="vehicle3" value="Boat" v-model="message"> I have a boat<br>
            <p>giá trị bạn vừa chọn là :{{message}}</p>
                
    </div>
    <!-- Khai báo message là một mảng, khi kích vào từng checkbox giá trị sẽ được xuất ra -->
    <script>
        
        var app =new Vue({
            el:'#app',
            data:{
                message:[]
            }
        })
    </script>
</body>
</html>