<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phân biệt 2 kiểu sử dụng dữ liệu qua Component</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- Sử dụng v-on:input để thay đồi giá trị của ô input
        dùng hàm changeevalue để lấy giá trị từ ô input, gán vào nội dung
     -->
    <div id="app">
           <mycomponent></mycomponent>
           <mycomponent></mycomponent>
           <mycomponent></mycomponent>


    </div>
    <script>
        
        Vue.component('mycomponent',{
            data:function(){
                return {
                    test:'Hello Việt Nam'
                }  
            },
            template:'<h1> Ai say:{{test}} </h1>'
          
        });
    new Vue({
        el:'#app'
    })

    </script>
</body>
</html>