<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Computed</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ message.toUpperCase() }}</p> 
        <p>Sử dụng computed: {{messagecomputed}}</p> 
        <!-- Sử dụng computed sẽ tối ưu hiệu suất của chương trình  -->
        <p>thông điệp ban đầu: {{message2}}</p>
        <p>thông điệp sau khi bị đảo lộn: {{reversedMessage}}</p> 
        <!-- Cấu trúc của computed giống function nhưng hoạt động lại giống property -->
        <p>Sử dụng methods đảo ngược thông điệp :{{messagerevers()}}</p>
        <!-- sử dụng methods muốn gọi thông điệp phải sử dụng function -->

    </div>
  
  <script>
      var app = new Vue({
          el:'#app',
          data:{
              message:'Xin chào các bạn',
              message2:'Người đông bến đợi thuyền xuôi ngược'
          },
          computed:{
              messagecomputed: function(){
                  return this.message.toUpperCase();
              },
              reversedMessage:function(){
                  return this.message2.split(' ').reverse().join(' ')
                
              }
          },
          methods:{
              messagerevers:function(){
                return this.message2.split(' ').reverse().join(' ')
              }
          }
      })

  
  </script>


</body>
</html>