<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vòng lặp for với Vuejs</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- input type=radio thì giá trị nhận được 1 trong các mục, nên khi xuất k cần khai báo mảng tại data -->
    <div id="app">
            <input type="radio" id="cac-mon-rau" value="Các món rau" v-model="picked">
            <label for="cac-mon-rau">Các món rau</label><br>
            <input type="radio" id="cac-mon-thit" value="Các món thịt" v-model="picked">
            <label for="cac-mon-thit">Các món thịt</label><br>
            <span>Đã chọn: {{ picked }}</span>
       
    </div>
    <script>
        var app =new Vue({
            el:'#app',
            data:{
                picked:''
            }
        })
    </script>
</body>
</html>