<template>
    <div>
        <h2>Slot trong Vue Js</h2>
        <div class="title">
            <slot name="title"></slot>
            <span style="color:#ccc;"> <slot name="subTitle"> The sub title</slot></span>
            <!-- set giá trị mặc định cho slot được gọi là default slot -->
        </div>
        <div class="content">
            <slot name="content"></slot>
            <!-- slot không có tên là 1 default slots -->
            <!-- tất cả những giá trị nào thêm vào tại app-card mà không có tên thì sẽ chuyển vào slot không tên này -->
            <slot></slot>
        </div>
       
       
    </div>
</template>

<script>
    export default{
        props:['cardwords']
    }

   
</script>

<style scoped>
    div {
        width:100%;
        border:1px solid #ccc;
        box-shadow: 1px 1px 2px rgba(0,0,0,.6);
        padding:30px;
        margin: 20px auto;
        text-align: center;   
    }
    h2{
        color:gray
    }
    .title{
        font-style: italic;
    }
</style>
