<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start VueJs đầu tiên</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- Sử dụng v-on:input để thay đồi giá trị của ô input
        dùng hàm changeevalue để lấy giá trị từ ô input, gán vào nội dung
     -->
    <div id="app">
           <mycomponent></mycomponent>
           <mycomponent></mycomponent>
           <mycomponent></mycomponent>


    </div>
    <script> 
   //khai báo data trong component thì chỉ có đối tượng được click mới thay đổi giá trị
        //This xác định được đối tượng component này là đối tượng nào để thay đổi
        Vue.component('mycomponent',{
            data:function(){
                return{
                    test:'Hello Việt nam'
                }
            },
            template:'<h1> Ai say:{{test}} <br> <button @click="changeTest">Change it</button></h1>',
            methods:{
                changeTest:function(){
                    this.test = 'share!';
                    console.log(this); 
                }
            }
        });
    new Vue({
        el:'#app'
    })

    </script>
</body>
</html>