<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start VueJs đầu tiên</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <div >
            <!-- Bắt sự kiện khi kích vào button thì giá trị seen sẽ được chuyển trạng thái, ứng với mỗi trạng thái sẽ xuất ra giá trị tương ứng của seen, lưu ý câu đk if-else phải dùng cùng thẻ -->
           <span v-if="seen">Xuất Hiện</span>
           <span v-else="seen">Ẩn đi</span>
           <br>
           <button v-on:click = "seen = !seen"> Chuyển trạng thái</button>
           
        </div>
    </div>
    <script>
    var app = new Vue({
        el:'#app',
        data :{
            seen:true
        }
    })
    

    </script>
</body>
</html>