<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start VueJs đầu tiên</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- Sử dụng v-on:input để thay đồi giá trị của ô input
        dùng hàm changeevalue để lấy giá trị từ ô input, gán vào nội dung
     -->
    <div id="app">
           <mycomponent></mycomponent>
           <mycomponent></mycomponent>
           <mycomponent></mycomponent>


    </div>
    <script> 
    //Khi tạo 1 đối tượng ngay từ đầu thì khi click vào 1 cái thì các component khác cũng được hưởng cái giá trị thay đổi. 
    //Sử dụng tạo màu nền cho tất cả bài viết
    //This được xác định là data, nên các property sử dụng property data thì n sẽ thay đổi hết
        var data = {
            test:'Hello Vietnam'
        }
        Vue.component('mycomponent',{
            data:function(){
                return data 
            },
            template:'<h1> Ai say:{{test}} <br> <button @click="changeTest">Change it</button></h1>',
            methods:{
                changeTest:function(){
                    this.test = 'share!';
                    console.log(this);
                }
            }
        });
    new Vue({
        el:'#app'
    })

    </script>
</body>
</html>