<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sử dụng v-bind để làm việc với attribute</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- Vue js không làm việc trực tiếp với attribute -> muốn truy cập đến thì phải sử dụng v-bind -->
<!-- function changeLink thực hiên chức năng thay đổi giá trị của link khi kích vào button -->
    <div id="app">
        <p v-once>{{noidung}}-- {{showFor()}}</p> 
        <!-- nếu k có v-once thì cả noidung và showFor đều nhận giá trị mới"Nội dung vừa cập nhật" .Có v-once thì noidung sẽ k bị ảnh hưởng cập nhật lại nội dung từ showFor -->
        <a v-bind:href="link" >Link</a>
         <!-- Trường hợp trong data có cả mã html thì dùng v-html ="giá trị data" để yêu cầu chỉ xuất đoạn text trong mã Html đấy để tránh bị lộ thông tin -->
        <p>{{testmaHTML}}</p>
        <p v-html="testmaHTML">{{testmaHTML}}</p> 
       
    </div>
    
    <script>
    var app = new Vue({
        el:'#app',
        data:{
            noidung:'Đây là trang chủ',
            link:'https://vuejs.org/v2/guide/installation.html',
            testmaHTML:'<a href=https://www.youtube.com/watch?v=2MYKUAlijmQ&list=PLb9GOiDj30nSOhB6eBGPXwI0Rn2SJKls-&index=11 ""> Get password</a>'
        },
        methods:{
            showFor:function(){
                this.noidung ='Nội dung vừa cập nhật';
                return this.noidung;

            }
        }

    })
    
    </script>
</body>
</html>