<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vòng lặp for với Vuejs</title>
    <script src="vue.js"></script>
</head>
<body>
    
    <div id="app">
            <select name="carlist" form="carform" v-model="message">
                <option  disabled value="">Chọn giá trị</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            <p>giá trị vừa chọn là :{{message}}</p>
       
    </div>
    <script>
        var app =new Vue({
            el:'#app',
            data:{
                message:''
            }
        })
    </script>
</body>
</html>