<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start VueJs đầu tiên</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- Sử dụng v-on:input để thay đồi giá trị của ô input
        dùng hàm changeevalue để lấy giá trị từ ô input, gán vào nội dung
     -->
    <div id="app">
        <input type="text" v-on:input="changevalue">
    <p>{{noidung}}</p>
    <button v-on:click="counter +=1">Đếm cừu</button> 
    <!-- Sự kiện onclick khi kích vào button thì biến đếm couter sẽ tăng lên 1 đơn vị -->
    <p>{{counter}}</p>

    <button v-on:click="greet">Chào mừng</button>
    <!-- tại v-on gọi methods để sử dụng -->
    </div>
    <script>
    var app = new Vue({
        el:'#app',
        data :{
            noidung:'Xin chào các bạn', 
            counter: 0,
            name:'Hoàng Thị Hiên'
        },
        methods:{
            changevalue:function(event){
                this.noidung = event.target.value; //gán noidung = giá trị mới được nhập vào từ ô input, sau đó nó sẽ tự in ra trên màn hình giá trị mới, bằng cách gọi lại nội dung tại Html
            },
            greet:function(event){
            alert('Xin chào' + this.name + '!')
            if(event){
                alert(event.target.tagName)
            }
            }
        }
    })
    

    </script>
</body>
</html>