<template>
  <div id="app">
   
    <h1>Hello every body</h1>
    <contact-component></contact-component>
    </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

