<template>
  <div id="app">
   
    <h1>Tạo form contact</h1>
    <datacontact-component></datacontact-component>
    </div>
</template>

<script>
import DataContact from './DataContact.vue';
export default {
  components:{
    'datacontact-component': DataContact
  }
  
}
</script>

