<template>
    <div >
   <p>Địa chỉ :{{adress}}</p>
   <hr>
   <button v-on:click="changephone" >Show my phone</button>
    </div>
</template>

<script>
export default {
  data:function(){
      return{
          adress:'ktx mỹ đình Nam Từ Liêm, HÀ nỘI'
      }
  },
  methods:{
      changephone(){
          this.adress='0389219826';
      }
  }
 
}
</script>

