<template>
    <div class="component">
        <h1>The User Component</h1>
        <p>I'm an awesome Developer! I'm {{name}}</p>
        <button @click="changename">Change My Name</button>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <!-- cha tạo sự kiện để lắng nghe -->
                <app-user-detail v-bind:customname="name" >
                </app-user-detail>
            </div>
            <div class="col-xs-12 col-sm-6">   
                <app-user-edit></app-user-edit>
            </div>
        </div>
    </div>
</template>

<script>
    import UserDetail from './UserDetail.vue';
    import UserEdit from './UserEdit.vue';

    export default {
       data:function(){
           return{
               name:'Lê Hồng Nhung',
               
           }
       },
       methods:{
           changename:function(){
               this.name ="Hoàng Thị Hiên";
           }
       },
        components: {
            appUserDetail: UserDetail,
            appUserEdit: UserEdit
        }
    }
</script>

<style scoped>
    div {
        background-color: lightblue;
    }
</style>
