<template>
    <div class="component">
        <h3>Information User Details</h3>
        <p>List Details</p>
        <p> My Name:{{reverseName()}}</p>
        
    </div>
</template>

<script>
// props dùng để truyền dữ liệu từ component cha sang component con
//  Các component con thông báo đến cha bằng thông qua các  sự kiện
export default{
 props:['customname'],
     //truyền dữ liệu từ cha sang con
 methods:{
     reverseName(){
        //  sau khi nhận xong dữ liệu từ cha,ta có thể biến đổi dữ liệu

         return this.customname.split(" ").reverse().join("");
     },
     resetName(){
         this.customname = 'Reset lại name';
         this.$emit('nameWasRest', this.customname) //con tạp tự kiện để gửi lên
     }
 }
}
</script>

<style scoped>
    div {
        background-color: lightcoral;
    }
</style>
