<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vòng lặp trong mảng có object</title>
    <script src="vue.js"></script>
</head>
<body>
   <div id="app">
    <ul>
        <!-- với vòng lặp bên trong có object thì phải lặp 2 lần rồi xuất ra giá trị -->
        <li v-for="user in users">
            <span v-for="(item,key, index) in user">{{item }} --{{key}} --{{index}}</span>
        </li>
    </ul>
   </div>
   <script>
   var app = new Vue({
       el:'#app',
       data:{
        users:[
           {ten:'Hoàng Thị Hiên',age:25, adress:'Nam Định' },
           {ten:'Lê Hồng Nhung', age:24, adress:'Bắc Giang'},
           {ten:'Nguyễn Thị Vân', age:23, adress:'Hải Dương'}
        ]
       }
       
   })
   
   </script>
  
</body>
</html>