<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vòng lặp for với Vuejs</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
          <!-- Duyệt mảng student với v-for -->
          <!-- Khi click vào ô button thì phần tử mới sẽ được thêm vào mảng students và được xuất ra , giá trị không bị ghi đè, và xuất ra luôn index -->
          
        <ul>
            <li v-for="(student, index) in students">{{ student}} - index của hs là:{{index}}</li>
           
        </ul>
        <button v-on:click="students.push('thêm phần tử mới')" style="cursor: pointer"> Thêm phần tử mới</button>
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                students:['Hoàng Thị Hiên', 'Lê Hồng Nhung', 'Nguyễn Thị Vân', 'Đoàn Thị Hòa' ]
            }
        })

    </script>
</body>
</html>