<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vòng lặp for với Vuejs</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- v-model chọn xuất ra giá trị selected, dùng for để lặp các giá trị có trong options, tương ứng với các option sẽ xuất hiện ra value tương ứng -->
    <div id="app">
            <select name="carlist" form="carform" v-model="selected">
                <option v-bind:value="option.value" v-for="option in options">{{option.text}} </option>
                <!-- nếu dùng {{option.value}} thì giá trị sẽ xuất ra k đúng.Dùng v-bind:value để lấy value tại option -->
            </select>
            <p>giá trị vừa chọn là :{{ selected}}  </p>
       
    </div>
    <script>
        var app =new Vue({
            el:'#app',
            data:{
               selected:'50k',
               options:[
                  {text:'Đọi bí xào tỏi', value:'50k'},
                  {text:'Mồng tơi xào tỏi', value:'30k'},
                  {text:'Lẩu nấm', value:'45k'}
               ]
            }
        })
    </script>
</body>
</html>