<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-outline-danger" @click="selectedComponent='appCard'"> Cards</button>
          <button class="btn btn-outline-info" @click="selectedComponent='appAbout'"> ABout</button>
          <button class="btn btn-outline-success" @click="selectedComponent='appContact'"> Contact</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        <div> <p>{{selectedComponent}}</p></div>
        <component :is="selectedComponent"></component>
        <!-- Khi kích vào thì n sẽ dẫn đến các component -->
        </div>
        <app-card cardwords="oto">
          <!-- thêm nội dung trong component k được lý do khi 1 compnent tạo ra thì tất cả các phần tử trong component n bao phủ hết cả khối đấy. sẽ k cho 
          các phần tử bên ngoài vào -->
          <!-- để truyền vào được phải tạo ra 1 khoản trống trong component con để sau khi muuons thêm vào vị trí này thì các phần tử thêm vào sẽ nhảy vào khoảng trống đấy -->
          <h2 slot="title">{{cartTitle}}</h2>
          <p>default slots</p>
          <p>default slots</p>
          <p>default slots</p>
         <button slot="content" class="btn btn-danger"> Slot mới</button>

        </app-card>
      </div>
    </div>
   
  </div>
</template>

<script>
import Card from './components/Card.vue';
import About from './components/About.vue';
import Contact from './components/Contact.vue';
export default {
  data:function(){
    return{
      cartTitle:'White Cat',
      selectedComponent:'appCard'
    }
  },
 components:{
   appCard:Card,
   appAbout: About,
   appContact: Contact
 }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
