<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vòng lặp for với Vuejs</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- Sử dụng v-model để lấy giá trị từ input .Tại data có default message, sau khi gõ thay đổi giá trị tại input thì sẽ xuất ra giá trị message mới -->
    <div id="app">
            <input v-model="message" placeholder="edit me">
            <p>Thông điệp: {{ message }}</p>
       
    </div>
    <script>
        var app =new Vue({
            el:'#app',
            data:{
                message:"Xin chào"
            }
        })
    </script>
</body>
</html>