<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start VueJs đầu tiên</title>
    <script src="vue.js"></script>
</head>
<body>
    <!-- Sử dụng component dạng local -->
    <div id="app">
           <mycomponent></mycomponent>
           <mycomponent></mycomponent>
           <mycomponent></mycomponent>

    </div>
    <div id="app2">
            <mycomponent></mycomponent>
            <mycomponent></mycomponent>
            <mycomponent></mycomponent>
 
    </div>
    <script> 
   //Đăng ký local
   var cpt ={
    data:function(){
                return{
                    test:'Hello Việt nam'
                }
            },
            template:'<h1> Ai say:{{test}} <br> <button @click="changeTest">Change it</button></h1>',
            methods:{
                changeTest:function(){
                    this.test = 'share!';
                    console.log(this); 
                }
            }
   }
        
    new Vue({
        //đăng ký sử dụng cpt
        el:'#app',
        components:{
            'mycomponent':cpt
        }
    })
    // tại app2 chưa đăng ký sử dụng cpt nên chưa được sử dụng
    new Vue({
        el:'#app2'
    })

    </script>
</body>
</html>